@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 241, 232);
  font-family: "montserrat", sans-serif;
}
header {
  background-color: #d80853;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.burger-icon {
  display: block;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

header h1 {
  font-size: 25px;
  margin-top: 4px;
  color: white;
  font-family: "montserrat", sans-serif;
}

#main-nav {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
}

#main-nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.25rem 0;
}
#main-nav a:hover {
  color: #32a068;
  transition: color 0.3s ease;
}
#main-nav.active {
  display: flex;
  flex-direction: column;
  background-color: #d80853;
  position: fixed;
  top: 60px;
  left: 0;
  width: 80vw;
  height: auto;
  align-items: flex-start;
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
  z-index: 1001;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#main-nav.active {
  background-color: #d80853;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.logo {
  width: 60px;
  height: auto;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #ffffff;
}

main img {
  width: 95%;
  height: auto;
  display: block;
  margin: 15px auto 0 auto;
}

main h2,
main h3 {
  text-align: center;
  margin-bottom: 5px;
}

.content-main h2 {
  font-size: 15px;
  margin-top: 15px;
  color: #d80853;
  font-size: 15px;
}
.content-main h3 {
  font-size: 20px;
}
.content-main h4 {
  padding-top: 1px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 18px;
  font-size: 20px;
  margin-bottom: 0;
}

.content-main {
  margin-top: 30px;
  text-align: center;
  max-width: 90%;
  padding: 20px 25px;
  border-radius: 10px;
  margin: auto;
  line-height: 1.5;
}

.content-main p {
  padding-top: 1px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.maerkesager-titel {
  padding-top: 70px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.maerkesager img {
  border-radius: 50%;
  width: 40px;
}

.maerkesager {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 15px;
}

.laesmere {
  text-align: center;
  margin: 20px;
}

.laesmere a {
  display: inline-block;
  padding: 8px 20px;
  background-color: #32a068;
  text-decoration: none;
  color: antiquewhite;
  border-radius: 25px;
}
.laesmere a:hover {
  color: rgb(204, 192, 174);
  transition: color 0.3s ease;
}
.slogan img {
  max-width: 100%;
}

.info {
  margin-top: 30px;
  text-align: center;
  max-width: 90%;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 14px;
  margin: auto;
  line-height: 1.5;
}

.info p {
  padding-top: 15px;
  text-align: justify;
}

footer {
  background-color: #d80853;
  color: white;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  padding: 30px;
  font-size: 22px;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
}

.copyright {
  margin-top: 20px;
  font-size: 10px;
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#main-nav {
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

main h2 {
  font-size: 28px;
}

main h3 {
  font-size: 24px;
}
.content-main {
  max-width: 80%;
  padding: 15px 15px;
}

.info {
  font-size: 15px;
  line-height: 1.6;
  max-width: 600px;
}
.info h5 {
  font-size: 18px;
}
.img-maerkesag {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.img-maerkesag img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
  display: block;
  border: none;
}

.mailfooter a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
footer h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
body.maerkesager-page .minemaerkesager {
  margin: 40px auto 0 auto;
  text-align: center;
  max-width: 90%;
  background: white;
  border-radius: 7px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  flex: none;
  align-self: center;
}
.minemaerkesager h2 {
  font-size: 25px;
  font-weight: 600;
}
.minemaerkesager h3 {
  font-weight: 500;
}
.minemaerkesager p {
  font-size: 15px;
}

.imgafstefan img {
  width: 100%;
}
.content-derfor h2 {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 17px;
}
.content-derfor p {
  padding-left: 15px;
  text-align: justify;
  text-align: center;
  max-width: 80%;
  font-size: 15px;
}

body .content-main h2 {
  margin-bottom: 0;
  font-size: 17px;
}
body .content-main h3 {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-size: 25px;
}

body.maerkesager-page .minemaerkesager {
  max-width: 80vw;
}

body.maerkesager-page .minemaerkesager h2 {
  margin-bottom: 40px;
  color: #d80853;
}

body.maerkesager-page .minemaerkesager h3 {
  margin-bottom: 5px;
}

body.maerkesager-page .minemaerkesager p {
  margin: 5px 0 15px 0;
  line-height: 1.2;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.content-derfor h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d80853;
}
.content-derfor p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.kontaktmig h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10x;
}
.kontaktmig p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  margin-bottom: 20px;
}
.kontaktinfo h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.kontaktinfo p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  margin-bottom: 25px;
}
.kontaktinfo li {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  list-style: none;
  margin-bottom: 25px;
}
.kontaktinfo a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  color: #d80853;
}
.kontaktinfo li {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  list-style: none;
  margin-bottom: 25px;
}

.social-links img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1023px) {
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .social-links img,
  .social-links a {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.content-main h4 {
  padding-top: 1px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 18px;
  font-size: 20px;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  header h1 {
    font-size: 28px;
  }

  .logo-link h1 {
    font-size: 20px;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    margin-right: 2rem;
  }

  #main-nav a {
    font-size: 1rem;
  }

  .content-main {
    max-width: 85%;
    padding: 20px 30px;
  }

  .content-main h2 {
    font-size: 22px;
  }

  .content-main h3 {
    font-size: 28px;
  }

  .content-main p {
    font-size: 18px;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info {
    max-width: 700px;
    font-size: 16px;
    line-height: 1.6;
    padding: 25px 30px;
  }

  .kontaktmig h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .kontaktmig p {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
  }
  .kontaktinfo h3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .kontaktinfo p,
  .kontaktinfo li,
  .kontaktinfo a {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
  }

  .social-links img {
    width: 60px;
    height: 60px;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    padding: 30px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body.kontakt-page main {
    display: block;
  }
  main {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 4vw 0 4vw;
    box-sizing: border-box;
    text-align: left;
  }

  .profil {
    width: 460px;
    max-width: 46vw;
    height: 520px;
    object-fit: cover;
    margin: 0;
    display: block;
  }
  .content-main {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  .content-main h2 {
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .content-main h3 {
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
  }
  .content-main h4 {
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 40px;
  }
  .content-main p {
    padding: 5px;
    max-width: 600px;
    padding-left: 40px;
    line-height: 1.5;
    font-size: 20px;
  }
  .content-main p,
  .content-main h4 {
    margin-top: 0;
    padding-left: 40px;
  }
  .header {
    padding: 0.25rem 2rem;
  }

  #main-nav {
    display: flex;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: static;
    width: auto;
    background: none;
    padding: 0;
  }

  h1 {
    font-size: 12px;
  }

  #main-nav a {
    font-size: 1.125rem;
  }
  main img {
    width: 35%;
    height: 35%;
    margin: 15px;
  }
  .info {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .info p {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
  }
  footer {
    padding: 40px;
  }

  .footer h5 {
    font-size: 24px;
    font-weight: 500;
  }

  footer img {
    width: 60px;
    height: 60px;
    margin: 0 15px;
  }

  .copyright {
    font-size: 14px;
  }

  .burger-icon {
    display: none;
  }

  main > .img-maerkesag {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: -2rem;
  }
  body.maerkesager-page main {
    display: block;
    padding: 2rem 4vw 0 4vw;
  }
  body.maerkesager-page .minemaerkesager {
    text-align: left;
    padding: 3rem 3vw;
    max-width: 700px;
  }
  body.maerkesager-page .minemaerkesager h2 {
    font-size: 30px;
    padding-bottom: 35px;
  }
  body.maerkesager-page .minemaerkesager h3 {
    font-size: 20px;
  }
  body.maerkesager-page .minemaerkesager p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    line-height: 1.6;
  }
  .content-derfor h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d80853;
    font-size: 24px;
  }
  .content-derfor p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.3;
  }
  .kontaktmig {
    padding: 0 0 4px 0;
    text-align: center;
    font-size: 18px;
  }
  .kontaktinfo {
    padding: 0 0 4px 0;
    text-align: center;
    font-size: 18px;
  }
  .kontaktmig p {
    max-width: 600px;
  }
  .kontaktinfo p {
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .kontaktinfo li {
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  body.kontakt-page .kontaktmig,
  body.kontakt-page .kontaktinfo,
  body.kontakt-page .social-links {
    text-align: center;
    margin: 0 0 4px 0;
  }
}
